@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,200;1,400&display=swap");
:root {
  --border: 1px solid #dce1e4;
  --boxshadow: 5px 5px 15px #c1c8d3, -5px -5px 15px #fff;
  --gradient: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  --brcole: #ffffff;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
* {
  font-family: "Nunito", sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  list-style: none;
  text-decoration: none;
}
header .logo img {
  width: 40px;
  border-radius: 50%;
}
body {
  margin: 0;
  background-color: #f7f7f7;
}
header ul.nav li a {
  color: black;
}
header {
  position: fixed;
  width: calc(100% - 20px);
  padding: 10px;
  border-bottom: var(--border);
  display: grid;
  grid-template-columns: 30% 70%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #212a3e;
}
/* vs */
/* header input[type="checkbox"] {
  display: none;
} */
header ul {
  padding: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}
/* vs */
header .nardiv {
  display: none;
}

/* header .nardiv label i {
  margin-right: 10px;
} */
header ul li {
  padding: 0 30px;
}
header ul.nav li a {
  color: #dce1e4;
}
header ul.nav li:hover a {
  color: red;
}
/* night theme */
header ul.nav .fa-moon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--borde);
  background-color: black;
  color: #ffffff;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}
.container {
  width: 1200px;
  padding: 0 20px;
  max-width: 90%;
  margin: 0 auto;
  background-color: var(--brcole);
  border: 1px solid #e6e6e6;
  margin-top: 100px;
}

.content h1 {
  font-size: 4.5em;
}
#home {
  display: grid;
  grid-template-columns: 40% 60%;
  /* padding-top: 100px;
  margin-top: 100px; */
}
.contact {
  margin-top: 200px;
}

.contact ul {
  display: flex;
  margin-top: 10px;
}
.contact ul li {
  width: 50px;
  height: 50px;
  box-shadow: var(--boxshadow);
  margin-right: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-image: linear-gradient(
    rgba(218, 18, 163, 1),
    rgba(158, 0, 255, 1)
  );
}
.contact ul li {
  cursor: pointer;
}
.container .avatar img {
  width: 29%;
  padding: 10px;
}
.dvl h2 {
  font-size: 41px;
}
.dvl {
  /* margin-top: 40px; */
  position: relative;
  overflow: hidden;
  display: flex;
}
.dvl .im_a,
.dvl .developer {
  font-size: 60px;
  font-weight: 600;
}
.dvl .developer {
  margin-left: 15px;
  position: relative;
  color: #004d7a;

  background: -webkit-linear-gradient(#30cfd0, #330867);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dvl .developer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  animation: text 2s infinite steps(10);
  left: 0;
  background-color: var(--brcole);
  border-left: #004d7a 2px solid;
}
/* .dvl::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  top: 0;
  left: 0;
  animation: text 4s infinite steps(20);
  
} */
@keyframes text {
  100% {
    left: calc(100% + 40px);
  }
}
.title {
  text-align: center;
  color: #051937;
  font-size: x-large;
  font-weight: 700;
}
.container .avatar {
  text-align: center;
}
#project {
  /* padding: 100px; */
}
.listproject {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 50px 0;
}

.listproject .item {
  text-align: center;
  box-shadow: var(--boxshadow);
  padding: 10px;
  font-weight: bold;
  font-size: large;
}
.listproject .item img {
  width: 90%;
  height: 80%;
  border-radius: 20px;
  border: var(--border);
}

/* SKILL */
#skill {
  padding-bottom: 20px;
  display: grid;
  gap: 20px 60px;
  grid-template-columns: 1fr 1fr;
}
#skill .title {
  grid-column: 1/3;
}
.listskill {
  width: 100%;
  margin-bottom: 15px;
}
.skill_work {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill_work .test {
}
.skill_infor {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.skill_bar {
  width: 100%;
  height: 20px;

  box-shadow: var(--boxshadow);
  border-radius: 25px;
  overflow: hidden;
}
.value {
  background: var(--gradient);
  height: 100%;
  border-radius: 25px;
  animation: animations 4s ease-in-out;
}
@keyframes animations {
  from {
    width: 0;
  }
}
/* test */
.Circular_Progress {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* background-image: conic-gradient(blue 180deg, #fff 0deg); */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--boxshadow);
}
.cr_p_value {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #f1f6f9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active {
  transform: translateX(0%);
}
footer {
  height: 30px;
  width: 100%;
  background-color: #b0daff;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* for ipad */

@media screen and (max-width: 1024px) {
  .content h1 {
    font-size: 2em;
  }
  .listproject {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact ul li {
    width: 40px;
    height: 40px;
  }
}
/* for phone */
@media screen and (max-width: 768px) {
  header ul {
    background-color: #394867;
    position: fixed;
    width: 70%;
    height: 100vh;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: 1fr;
    transform: translateX(-100%);
    transition: 0.5s;
  }
  .dvl .im_a,
  .dvl .developer {
    font-size: 30px;
    font-weight: 300;
  }
  .content h1 {
    font-size: 3em;
  }
  header .nardiv {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
  }
  header .nardiv i {
    border: var(--border);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f6f9;
  }
  header ul.nav li a {
    color: #f1f6f9;
  }
  /* .button_menu:checked ~ .nav {
    transform: translateX(0%);
  } */
  .listproject {
    grid-template-columns: 1fr;
  }
  #skill {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  #skill .title {
    grid-column: 1/2;
  }
  #home {
    grid-template-columns: 1fr;
  }
  .avatar {
    grid-row-start: 1;
  }
}

/* dark theme */
.dark {
  background-color: #212a3e;
}
.dark header {
  background-color: #212a3e;
}

.dark header .nav li a {
  color: #ffffff;
}
.dark header .nav li i.fa-solid.fa-moon {
  background-color: #ffffff;
  color: black;
}
.dark .listproject .item {
  border: #ffffff 1px solid;
  box-shadow: none;
}
.dark .listproject .item a {
  color: #f1f6f9;
}
.dark .container {
  background-color: #212a3e;
}
.dark .contact ul li {
  border: none;
  box-shadow: none;
}
.dark .title {
  color: #ffffff;
}
.dark .content,
.dark .contact h3 {
  color: #ffff;
}
.dark .skill_bar,
.dark .Circular_Progress {
  box-shadow: none;
}
.dark .cr_p_value {
  background-color: #212a3e;
}
.dark #skill {
  color: #ffff;
}
.container#comment {
  margin: 20px auto;
}
/* comment */
.comment_container {
  width: 100%;
  margin: 20px 0;
  /* min-height: 500px; */
  background-color: #004d7a;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.comment {
  height: auto;
}
.content {
  width: 90%;
  margin: 20px;
}
.comment_container .content_input_comment textarea {
  width: calc(100% - 10px);
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 5px;
}
.content_input_comment {
  margin-bottom: 0px;
}
.conttent_comments {
  /* height: 100%; */
  /* height: 200px; */
  margin-top: 10px;
  /* width: 100%; */
  border-radius: 10px;
  background-color: #c1c8d3;
  padding: 10px;
  /* position: relative; */
}
ul.list_comment {
  /* margin: 10px; */
}
.conttent_comments > h2 {
  margin: 10px;
}
li.li_comment {
  background-color: var(--brcole);
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}
.comment_header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.comment_header .name {
  font-weight: bold;
}
.comment_header img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
/*
.conttent_comments .comment {
  margin: 10px;
  position: absolute;
  height: auto;
}
.conttent_comments .comment_content {
  margin-top: 10px;
  padding: 5px;
}
ul.ist_comment {
  padding-bottom: 50px;
}
li.li_comment {
  margin: 5px;
  background-color: #e8f6ef;
  border-radius: 10px;
  padding-bottom: 10px;
} */
.reply_like_and_dislike {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.reply_like_and_dislike > p:hover {
  cursor: pointer;
}
.reply_like_and_dislike i:hover {
  cursor: pointer;
}
/* .reply_like_and_dislike > p {
  margin: 0 20px;
} */
.like,
.dislike {
  display: flex;
  align-items: center;
  margin: 0 20px;
}
.like i,
.dislike i {
  margin: 0 5px;
}
/* inputconten */
.input_content {
  display: inline-block;
}
.name_input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name_input input {
  width: 50%;
  height: 30px;
  border-radius: 10px;
  padding: 5px;
}
.name_input button {
  height: 40px;
  width: 20%;
  border-radius: 10px;
}
.form {
  width: 100%;

  display: none;
}
.form.show_inputcomment {
  display: flex;
}
